fastapi
orjson
pydantic
uvicorn
uvloop; sys_platform == "linux" or sys_platform == "darwin"
python-dotenv
SQLAlchemy
SQLAlchemy-Utils
asyncpg
psycopg2-binary
databases[postgresql]
alembic
isort
flake8
nanoid
coloredlogs
